DATABASE_URL="postgresql://user:password@localhost:5432/aastu_navigator"
PORT=5000
NODE_ENV=development
JWT_SECRET="change_this_secret"
CLOUDINARY_CLOUD_NAME=myzbflek
CLOUDINARY_API_KEY=832737534253914
CLOUDINARY_API_SECRET=IQ30Ee_bXVA6hp8Kl1WlHwrRnjw
